@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';


/*.logo {
  padding: 1em;
  img {
    width: 100%;
    height: auto;
  }
}*/
/* ------ NAV -------- */
.navbar-toggler {
  border: 0px;
}
.navbar-toggler-icon {
  float: right;
}
.collapse navbar-collapse {
  top:0px;
}

#background img {
  width: 100%;
}
.logo {
  float: left;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding: 2rem;
  background-color: white;
}
/* --------------- HOME - Services ------------------*/
.services {
  background-color: #86abaf;
}
.services, .row {
  padding: 3em;
    img {
  width: 100%;
  height: auto;
  }
}
.row, .col-md-4 {
  padding: 5%;
}
.btn-secondary {
  margin-left: auto;
  margin-right: auto;
  background-color: #a6cb41;
}
/* --------------- HOME - Locations ------------------*/
.locations .pin {
  width: 40%;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
}
.locations {
  text-align: center;
}
/* --------------------- HOME - About --------------------- */
.centered {
    text-align: center;
}
/* ---------------- HOME - Contact ----------------------- */
.contact_us {
  text-align: center;
}
.contacts {
  background-color: #a6cb41;
  width: 100%;
  height: 200%;
  padding: 0;
  border: 2px solid #000;
}
label, input, #subject {
  width: 100%;
}
#location_option {
  border: 1px solid #000;
}
form {
  padding: 5%;
}
.submit {
  border: 1px solid #000;
}
label, input {
  border: none;
}
/* ----------------- Top Button ----------------- */

/* -------------------- hr ---------------- */
hr {
  border: 0.5px solid #000;
}
/* ------------- SERVICES PAGE ----------------- */
#specialties th {
    text-align: left;
    background-color: #a6cb41;
    color: white;
}
#specialties td, #specialties th {
    border: 1px solid #3e3e3e;
    width: 100%;
}

/* ------------------------ LOCATION PAGE ----------------- */
#maps img {
  width: 35%;
  margin-top: -35%;
}
.kanata, .stittsville, .morgans {
  float: right;
  top: 0;
}

/* --------------------- MEDIA QUERY ----------------------------- */

@media only screen and (min-width: 500px) {
/* -- HOME nav -- */
  #background img {
    height: 450px;
  }
  .logo {
    width: 300%;
  }
  .btn-secondary {
    height: 40px;
    width:40%;
  }
  .col-md-4, .row {
    display: inline-block;
    text-align: center;
      img {
        width: 50%;
      }
  }
  /* -- locations -- */
  .locations .pin {
    width: 20%;
      display: inline-block;
  }
  /* -- location page -- */
  #maps img {
    width: 20%;
    margin-top: -15%;
  }
}
